.container {
  margin: 0 auto;
  width: 100%;
  max-width: 890px;
}

.title {
  width: 100%;
  text-align: center;
  line-height: 1.33333;

  @media only screen and (min-width: 0) {
    font-size: 2rem;
  }

  @media only screen and (min-width: $small-screen) {
    font-size: 3rem;
  }

  @media only screen and (max-height: 455px) {
    font-size: 1.7rem;
  }
}
