.api-text-field {
  padding: 10px;
  overflow: hidden;
  background-color: rgb(230, 239, 240);

  @media only screen and (min-width: $small-screen) {
    font-size: 1.2em;
  }

  @media only screen and (min-width: 0) {
    font-size: 1em;
  }
}

.api-text-field__overlay {
  text-align: center;
  font-size: 3rem;
  color: #c8e4e1;
}

