.modal {
  display: block;
  top: 10%;
  z-index: 4;
  width: 40%;
  opacity: 1;
  transform: scaleX(1);

  &.modal-fixed-footer {
    height: 65%;
  }

  &-footer {
    display: flex;
    justify-content: center;
  }

  &-overlay {
    display: block;
    z-index: 3;
    opacity: 0.3;
  }

  &.error {
    background-color: rgb(255, 192, 203);

    h2,
    h3,
    h4,
    h5 {
      font-size: 1.6rem;
    }

    p {
      font-size: 1.1rem;
    }
  }
}
