// изменил станд.отступы библиотеки
[type="radio"]:checked + .time,
[type="radio"]:not(:checked) + .time {
  margin-right: 14px;
  padding-left: 28px;
}

.radio-buttons {
  margin: 0 auto;
}

.radio-buttons.disabled {
  pointer-events: none;
  box-shadow: none;
  color: $button-disabled-color !important;
  cursor: default;

  label:after {
    background-color: $button-disabled-color;
    border: 2px solid $button-disabled-color;
  }
}
