.toggle-theme {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-right: 8px solid #423d3d;
  box-shadow: 0px 0 8px #a2a499;
  background: #f8f8f8;
  transform: rotate(-91deg);
  transition: all 0.3s;
  cursor: pointer;

  input {
    width: 0;
    height: 0;
  }
}
