extend ../layout/base.pug
block content
  header.header
    h1.title.thin
      | Type faster
    .statistics
      .statistics__text
        | Stats
      a.statistics__btn.btn-floating
        i.material-icons insert_chart

  main.main.container
    .radio-buttons
      - var timeArr = ["10", "30", "60"]
      each time, ind in timeArr
        +input-radio-time(
          { name: 'time', time: time, checked: !ind }
        )
    .text-field
      .text-field__area.z-depth-1
      input.text-field__input(type="text" tabindex="-1")
      
    .control
      .indicator
        .indicator__text
          | : )
        .indicator-battery
      .buttons
        button.btn.buttons__start
          | Start
        button.btn.buttons__stop.disabled
          | Stop
      .timer
        span.timer__number 10
        span s
