extend ../layout/base.pug
block content
  header.header
    h1.title.thin
      | Type faster
    .statistics
      | Statistis

  main.main.container
    .radio-buttons
      - var timeArr = ["10", "30", "60"]
      each time, ind in timeArr
        +input-radio-time(
          { name: 'time', time: time, checked: !ind }
        )

    .api-text.z-depth-1
      | Api text Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur cum excepturi laboriosam adipisci cumque atque enim animi veritatis voluptate, corrupti accusantium est incidunt beatae quaerat quibusdam itaque, molestias magni quos?
      | Api text Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur cum excepturi laboriosam adipisci cumque atque enim animi veritatis voluptate, corrupti accusantium est incidunt beatae quaerat quibusdam itaque, molestias magni quos?
      //- | Api text Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur cum excepturi laboriosam adipisci cumque atque enim animi veritatis voluptate, corrupti accusantium est incidunt beatae quaerat quibusdam itaque, molestias magni quos?
      //- | Api text Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur cum excepturi laboriosam adipisci cumque atque enim animi veritatis voluptate, corrupti accusantium est incidunt beatae quaerat quibusdam itaque, molestias magni quos?
      //- | Api text Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur cum excepturi laboriosam adipisci cumque atque enim animi veritatis voluptate, corrupti accusantium est incidunt beatae quaerat quibusdam itaque, molestias magni quos?

    textarea.materialize-textarea(placeholder="Type this")

    .control
      .indicator
        .indicator-battery
      .buttons
        button.btn.buttons__start
          | Start
        button.btn.buttons__stop.disabled
          | Stop
      .timer
        span.timer__number 55
        span s
