.header {
  display: flex;
  justify-content: center;

  @media only screen and (min-width: 0) {
    margin: 0 0 1.1rem 0;
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2rem minmax(100px, 50vh) 1fr;

  @media only screen and (min-width: $small-screen) {
    gap: 1.5rem;
  }

  @media only screen and (min-width: 0) {
    gap: 1rem;
  }
}
