.night-theme {
  background-color: rgb(34, 34, 34);
  color: rgb(134, 134, 134);

  [type="radio"].with-gap:checked + label:after,
  [type="radio"]:checked + label:after {
    background-color: rgb(21, 117, 77);
  }

  [type="radio"].with-gap:checked + label:after,
  [type="radio"].with-gap:checked + label:before,
  [type="radio"]:checked + label:after {
    border-color: rgb(21, 117, 77);
  }

  .text-field__area {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12),
      0 5px 5px -3px rgba(0, 0, 0, 0.3);
    background-color: rgb(28, 29, 28);
    color: rgb(104, 104, 104);
  }

  .char {
    &.correct {
      color: rgb(37, 160, 110);
    }
    &.error {
      background-color: rgb(88, 35, 45);
    }
  }

  .btn,
  .btn-floating {
    color: rgb(201, 201, 201);
    background-color: rgb(21, 117, 77);

    &.disabled {
      background-color: rgb(45, 45, 45) !important;
      color: #474747 !important;
    }

    &:hover {
      color: rgb(255, 255, 255);
      background-color: rgb(31, 138, 93);
    }
  }

  .indicator-battery {
    filter: brightness(0.65);
  }

  .modal {
    background-color: rgb(28, 28, 28);

    &-footer {
      background-color: rgb(28, 28, 28);
    }

    &.error {
      background-color: rgb(62, 31, 31);
    }

    &__btnCustom,
    &__btnClose {
      color: rgb(134, 134, 134);
      transition: color 0.3s;
      &:hover {
        color: rgb(37, 160, 110);
      }
    }
  }

  .progress {
    background-color: rgb(21, 117, 77);
  }

  .toggle-theme {
    border-right: 8px solid #a2a499;
    box-shadow: 1px 0px 2px #a2a499;
    background: #101010;
    transform: rotate(5deg);
  }
}
